@use "mixins" as *;
.question-page {
  max-width: 1100px;
  margin: 0 auto;
  h1 {
    color: #2c5282;
  }
  p {
    color: #bbb8b8;
    font-size: 17px;
  }
  form {
    width: 100%;
    max-width: 700px;
    fieldset {
      border: none;
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 20px;
      input {
        padding: 15px;
        font-size: 17px;
        border-radius: 10px;
        border: 1px solid #ccc;
        margin-top: 5px;
      }
      textarea {
        resize: vertical;
        font-size: 14px;
        min-height: 30vh;
        @extend input;
      }
      .errorMssg {
        color: red;
        font-size: 15px;
        margin-top: 3px;
      }
    }
    section {
      @media (max-width: 768px) {
        flex-direction: column;
      }
    }

    .category {
      select {
        @include selectStyle;
      }
      .errorMssg {
        color: red;
        font-size: 15px;
        margin-top: 3px;
      }
    }
    .checkbox-section {
      span {
        color: #979797;
      }
    }
    .form-btns {
      margin-top: 2rem;
      button {
        padding: 15px 25px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        cursor: pointer;
        &:nth-child(1) {
          background-color: #38a169;
          color: white;
        }
        &:nth-child(2) {
          border: 2px solid #ccc;
          background-color: transparent;
        }
        @media (max-width: 450px) {
          padding: 10px 25px;
          width: 100%;
          font-size: 14px;
        }
      }
      @media (max-width: 450px) {
        width: 100%;
        flex-direction: column;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 0 20px;
    // align-items: center;
  }
}
