@use "mixins" as *;
.browse-question-page {
  max-width: 1200px;
  margin: 0 auto;
  h2 {
    color: #2c5282;
    font-size: 1.9rem;
    margin-bottom: 20px;
  }
  .fields {
    .input-field {
      @include inputField;
    }
    select {
      padding: 9px;
      border-radius: 9px;
      border: none;
      background-color: transparent;
      border: 1px solid #ccc;
      font-size: 14px;
    }
    @media (max-width: 620px) {
      flex-direction: column;
    }
  }
  .question-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    position: relative;
    .question-card {
      padding: 10px;
      border-left: 3px solid #d69e2e;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
      b {
        font-size: 1.25rem;
      }
      .sub-section {
        margin: 10px 0;
        p {
          padding: 5px;
          font-size: 13px;
        }
      }
      .sub-section-1 {
        margin-bottom: 5px;
        p {
          padding: 5px;
          font-size: 13px;
          border-radius: 15px;
        }
        span {
          font-size: 13px;
        }
      }
    }
    .not-found {
      color: red;
      position: absolute;
      margin-top: 4rem;
      left: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: 450px) {
      grid-template-columns: 1fr;
      width: 100%;
    }
  }
  @media (max-width: 1200px) {
    padding: 0 20px;
  }
}
