.user-page {
  max-width: 1100px;
  margin: 0 auto;
  .welcome-section {
    margin-bottom: 50px;
    padding: 40px 20px;
    background: linear-gradient(
      135deg,
      rgba(44, 82, 130, 0.05) 0%,
      rgba(128, 90, 213, 0.05) 100%
    );
    border-radius: 15px;
    h1 {
      color: #2c5282;

      font-size: 2.5rem;
    }
    p {
      color: #718096;
      font-size: 1.2rem;
      max-width: 600px;
    }
    .cta-btn {
      button {
        background-color: white;
        border: none;
        padding: 16px 25px;
        font-size: 16px;
        cursor: pointer;
        &:nth-child(1) {
          background-color: #2c5282;
          color: white;
        }
      }
      @media (max-width: 552px) {
        flex-direction: column;
      }
    }
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin: 0 10px;
    margin-bottom: 50px;
    .stat-card {
      border-left: 2px solid #d69e2e;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 20px;
      b {
        font-size: 2.5rem;
        color: #2c5282;
        margin-bottom: 10px;
      }
      span {
        font-size: 1.1rem;
      }
    }
  }
}

.questionsWrapper {
  .question-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 1);
    padding: 20px;
    b {
      font-size: 1.2rem;
    }
    .details {
      margin-top: 7px;
    }
    section {
      width: 25%;
      small {
        font-size: 15px;
      }
      p {
        font-size: 14px;
        padding: 5px;
      }
      @media (max-width: 796px) {
        width: 60%;
      }
      @media (max-width: 430px) {
        width: 100%;
      }
    }
    .answer-section {
      border-left: 4px solid #38a169;
      background-color: rgb(183, 231, 183);
      padding: 20px;
      margin-top: 10px;
      .footer {
        margin-top: 10px;
        @media (max-width: 430px) {
          flex-direction: column;
          gap: 2px;
        }
      }
    }
  }
}
