.delete-Wrapper {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  .delete-content {
    background-color: white;
    width: 90%;
    max-width: 600px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    padding: 20px;
    p {
      margin-bottom: 5px;
    }
    .btns {
      margin-top: 15px;
      button {
        padding: 10px 20px;
        border: none;
        border-radius: 8px;
        margin-right: 10px;
        cursor: pointer;
        border: 2px solid #2c5282;
        &:nth-child(2) {
          background-color: red;
          color: white;
          border: none;
        }
      }
    }
  }
}
