@mixin gridStyle {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  gap: 20px;
  position: relative;
  .question-card {
    padding: 10px;
    border-left: 3px solid #d69e2e;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
    b {
      font-size: 1.25rem;
    }
    .sub-section {
      margin: 10px 0;
      p {
        padding: 5px;
        font-size: 13px;
      }
    }
    .sub-section-1 {
      margin-bottom: 5px;
      p {
        padding: 5px;
        font-size: 13px;
        border-radius: 15px;
      }
      span {
        font-size: 13px;
      }
    }
  }
  .not-found {
    color: red;
    position: absolute;
    margin-top: 4rem;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin inputField {
  border: 1px solid #ccc;
  width: 100%;
  max-width: 400px;
  padding: 5px;
  position: relative;
  input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 14px;
    padding: 7px;
  }
  button {
    padding: 13px 30px;
    position: absolute;
    right: 0;
    top: 0;
    border-radius: 10px;
    border: none;
    background-color: #2c5282;
    color: white;
  }
}
@mixin popupBackground {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
@mixin popupContent {
  background-color: white;
  width: 90%;
  max-width: 600px;
  border-radius: 10px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
@mixin selectStyle {
  width: 100%;
  background-color: white;
  border: 1px solid#ccc;
  margin-top: 5px;
  padding: 15px;
  border-radius: 10px;
  font-size: 15px;
}
@mixin fieldsetStyle {
  input {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1rem;
  }
  textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
    margin-bottom: 15px;
  }
}
