.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.justify-space-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.align-start {
  align-items: flex-start;
}
.align-center {
  align-items: center;
}
.text-center {
  text-align: center;
}
.gap-1 {
  gap: 10px;
}
.gap-2 {
  gap: 20px;
}
.rounded {
  border-radius: 10px;
}
.rounded-1 {
  border-radius: 20px;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.text-decoration-none {
  text-decoration: none;
}
